@font-face {
	font-family: ElMessiri;
	font-display: swap;
	src: url("../fonts/ElMessiri-Bold.woff2") format("woff2"), url("../fonts/ElMessiri-Bold.woff") format("woff"), url("../fonts/ElMessiri-Bold.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: ElMessiri;
	font-display: swap;
	src: url("../fonts/ElMessiri-Medium.woff2") format("woff2"), url("../fonts/ElMessiri-Medium.woff") format("woff"), url("../fonts/ElMessiri-Medium.woff") format("ttf");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: ElMessiri;
	font-display: swap;
	src: url("../fonts/ElMessiri-Regular.woff2") format("woff2"), url("../fonts/ElMessiri-Regular.woff") format("woff"), url("../fonts/ElMessiri-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Mulish;
	font-display: swap;
	src: url("../fonts/Mulish-Italic.woff2") format("woff2"), url("../fonts/Mulish-Italic.woff") format("woff"), url("../fonts/Mulish-Italic.ttf") format("ttf");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Mulish;
	font-display: swap;
	src: url("../fonts/Mulish-Medium.woff2") format("woff2"), url("../fonts/Mulish-Medium.woff") format("woff"), url("../fonts/Mulish-Medium.ttf") format("ttf");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: ElMessiri;
	font-display: swap;
	src: url("../fonts/ElMessiri-SemiBold.woff2") format("woff2"), url("../fonts/ElMessiri-SemiBold.woff") format("woff"), url("../fonts/ElMessiri-SemiBold.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Mulish;
	font-display: swap;
	src: url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff"), url("../fonts/Mulish-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Mulish;
	font-display: swap;
	src: url("../fonts/Mulish-MediumItalic.woff2") format("woff2"), url("../fonts/Mulish-MediumItalic.woff") format("woff"), url("../fonts/Mulish-MediumItalic.ttf") format("ttf");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: Mulish;
	font-display: swap;
	src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff"), url("../fonts/Mulish-SemiBold.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Mulish;
	font-display: swap;
	src: url("../fonts/Mulish-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Mulish-SemiBoldItalic.woff") format("woff"), url("../fonts/Mulish-SemiBoldItalic.ttf") format("ttf");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: Mulish;
	font-display: swap;
	src: url("../fonts/Mulish-Black.woff2") format("woff2"), url("../fonts/Mulish-Black.woff") format("woff"),url("../fonts/Mulish-Black.ttf") format("ttf");
	font-weight: 900;
	font-style: normal;
}
