@import "reset";
@import "fonts";

:root {
    --container-width: 1200px;
    --bg-color: #FBFBFC;
    --main-color: #004AD6;
    --accent-color: #FFFC97;
    --white: #fff;
    --black: #1B1B1B
}

body{
    position: relative;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    height: 100%;
    background-color: var(--bg-color);
    // overflow-x: hidden;
    scroll-behavior:smooth;
}
.disable-scroll{
    position: fixed;
    overflow-y: hidden;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
}
h1{
    font-family: "ElMessiri", sans-serif;
    font-size: 64px;
    font-weight: 700;
}
h3 {
    font-family: "Mulish", sans-serif;
    font-size: clamp(1.25rem, calc(0.79rem + 1.28vw), 1.75rem);
    font-weight: 600;
}
p {
    margin: 0;
    padding: 0;
}
.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.main{
    flex: 1 1 auto;
}

[class*=__container], .container {
    // position: relative;
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 0 10px;
    width: 100%;
    z-index: 2;
}

.hero h1 {
    text-align: center;
    color: var(--white);
}
.big-text{
    font-size:  clamp(1rem, calc(0.54rem + 1.28vw), 1.5rem);
    font-weight: 700;
    line-height: 100%;
}

// =============== Buttons =================
.btn{
    padding: 12px 12px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all 0.3s;
}
.btn-main{
    background-color: var(--main-color);
    color: var(--white);
}
.btn-main:hover{
    background-color: #396fd4;
}
.menu-btn{
    margin-left: auto;
    margin-right: 12px;
    cursor: pointer;
    display: none;
}
.menu-close{
    display: none;
}
//  ================= Ivent Items =================
.ivent-row {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.ivent-row__item{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 62px;
    margin: 12px 0;
}
.ivent-row__item--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: 3px solid var(--accent-color);
}
// =================== Blocks =====================
.block-links {
    display: flex;
    align-items: center;
    gap: 24px;
} 
.block-links a {
    scale: 1;
    transition: all 0.3s;
}
.block-links a:hover{
    scale: 1.1;
}
// ================= WordPress Styles =======================

.menu-item-has-children a{
    position: relative;
    padding-right: 24px !important;
}
.menu-item-has-children a::after{
    content: '▽';
    position: absolute;
    right: 6px;
    top: 46%;
    transform: translateY(-40%);
    font-size: 12px;
    color: #fff;

}

// ==========================================================

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 22px 0;
    z-index: 999;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__wrapper .custom-logo {
    width: 219px;
}
.header__nav{
    margin-right: auto;
    margin-left: 40px;
}
.header__nav ul {
    display: flex;
    justify-content: start;
    align-items: center;
}
.header__nav ul li{
    list-style: none;

}
.header__nav ul li a{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 14px;
    border-radius: 3px;
    background-color: transparent;
    transition: background-color 0.3s;
}
.header__nav ul li a:hover{
    background-color: rgba($color: #ffff, $alpha: 0.2);
}
.bx_log-in{
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.3s;
}
.bx_log-in:hover{
    left: -3px;
}


// =============== Pages Main Style ================
.page-wrapper__container {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.site-content, .site-sidebar{
    display: inline-block;

}

.site-content {
    width: auto;
    min-height: 48px;
}

// ============= Sidebar =================
.site-sidebar {
    flex: 0 0 auto;
    width: 200px;
    min-height: 50px;
}
.site-sidebar__wrapper{
    position: sticky;
    top: 12px;
    padding-top: 12px;
}
.site-sidebar__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color);
    padding-bottom: 16px;
    border-bottom: 3px solid var(--main-color);
}
.site-sidebar__item {
    padding-bottom: 12px;
    border-bottom: 2px solid var(--main-color);
}
.site-sidebar__item--date{
    margin-top: 12px;
}
.site-sidebar__item--time{
    margin-top: 5px;
}
.site-sidebar__item--coaches {
    font-weight: 700;
    margin-top: 5px;
}
.site-sidebar__item--links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
// ==================== Hero ====================
.hero{
    position: relative;
    padding-top: 200px;
    overflow: hidden;
    height: 480px;
    background-color: var(--black);
}

.home .hero{
    position: relative;
    padding-top: 0px;
    background-color: #000;
    height: 100vh;
}
.hero video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    opacity: 0.25;
}
.hero__images{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: space-between;
    gap: 2.167vw;
    background-color: black;
    overflow: hidden;
}
.hero__images_row {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 20px
}

.hero__images_row--1 {
    margin-top: -26vh;
}

.hero__images_row--2 {
    margin-top: -37vw
}

.hero__images_row--3 {
    margin-top: -20vw
}

.hero__images_row--4 {
    margin-top: -32vw
}

.hero__images .down {
    animation: moveDown 20s infinite ease-out alternate
}

.hero__images .up {
    animation: moveUp 20s infinite ease-out alternate
}

@keyframes moveDown {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(26vw)
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-26vw)
    }
}

.hero__images .image {
    background: 50%/cover no-repeat;
    opacity: .25
}

.hero__images .image:after {
    content: "";
    display: block;
    padding-bottom: 150.4385964912%
}

.hero__image {
    width: 31.771vw;
    margin: 0 auto;
    position: relative;
    transform: translateX(7vw)
}

.hero__image:after {
    content: "";
    display: block;
    padding-bottom: 59.0160838501%
}





.hero__container {
    color: #fff;
    text-align: center;
}
.hero__container h3{
    margin-top: 76px;
}

// ================ Calendar List ================
.calendar__wrapper{
    margin-top: 60px;

}
.calendar-item__title{
    display: flex;
    margin-bottom: 24px;
}
.calendar-item__wrapper {
    position: relative;
    padding-left: 35px;
    display: flex;
    justify-content: space-between; 
}
.calendar-item__container {
    margin-bottom: 56px;
}
.calendar-item__wrapper::before{
    position: absolute;
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--main-color);
    top: 0;
    left: calc(28px + 35px);
    z-index: -1;
}
.calendar__wrapper h3 {
    color: var(--main-color);
    text-align: center;
    font-weight: 700;
}
.calendar-item__title--date{
    position: relative;
    font-family: "ElMessiri", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.calendar-item__title--date::before{
    content: '';
    position: absolute;
    width: 146px;
    height: 82px;
    top: 0;
    left: -12px;
    background-image: url(../img/data-marker.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}
.calendar-item__title--number{
    position: relative;
    z-index: 2;
    line-height: 100%;
    font-size: 96px;
}
.calendar-item__title--month {
    position: relative;
    z-index: 2;
    font-size: 40px;
    line-height: 100%;
}
.calendar-item__title--name {
    flex-grow: 1;
    margin-top: 30px;
}
.calendar-item__info {
    max-width: 40%;
    padding: 25px 0;
}
.calendar-item__img {
    max-width: 55%;
    height: 100%;
    aspect-ratio: 2 / 1.2;
    border-radius: 25px;
    overflow: hidden;
}
.calendar-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
// ============ Ivent =====================


//  ============== Footer ==========

.footer {
    position: relative;
    height: 200px;
    background-color: var(--black);
    margin-top: 40px;
}
.footer img {
    position: relative;
    top: -24px;
    z-index: 99;
}
.footer__social{
    position: absolute;
    display: flex;
    gap: 32px;
    margin: 0 auto;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.footer__social--item{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    background-color: var(--bg-color);
}
// ============ Media =====================
@media (max-width: 1096px){
    .header__nav {
        position: absolute;
        right: -100%;
        margin: 0;
        padding: 50px;
        min-width: 320px;
        top: 0;
        background-color: var(--bg-color);
        color: var(--black);
        z-index: 999;
        transition: all 0.3s;
    }
    .header__nav.open{
        position: fixed;
        right: 0%;
    }
    .menu-close{
        position: absolute;
        display: block;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .header__nav  ul{
        flex-direction: column;
        align-items: start;
        gap: 32px;
        padding-left: 0;
    }
    .header__nav ul li a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .menu-item-has-children a::after{
        color: var(--black);
    }
    .menu-btn {
        display: block;
    }
}
@media (max-width: 992px){
    .calendar-item__info {
        max-width: 48%;
    }
    .calendar-item__img{
        max-width: 50%;
    }
}
@media (max-width: 760px){
    .hero{
        padding: 144px 0 80px;
        height: 100vh;
    }
    h1{
        font-size: 40px;
    }
    h3{
        font-size: 20px;
    }
    .hero__container {
        height: 100%;
        display: flex;
        flex-direction: column;

    }
    .hero h3 {
        margin-top: auto;
        margin-bottom: 0;
    }
 

}
@media (max-width: 760px) and (orientation: portrait ){
    .header__nav {
       width: 100%;
       height: 100vh;
    }
    .hero__images {
        height: 100vh;
        flex-wrap: wrap;
        gap: 20px;
    }
    .hero__images_row {
        gap: 20px;
        max-width: calc(50% - 10px);
        margin: 0
    }
    .hero{
        padding: 100px 0 60px;
        height: 100vh;
    }
    .hero h1{
        margin: auto;
        flex: 0 1 auto;
    }
    .hero h3 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .calendar-item__wrapper{
        flex-direction: column-reverse;
        padding-left: 0;
    }
    .calendar-item__wrapper::before{
        left: 28px;
    }
    .ivent-row__item{
        gap: 24px;
    }
    .calendar-item__title {
        flex-direction: column;
        gap: 12px;
    }
    .calendar-item__title--name{
        margin-top: 8px;
    }
    .calendar-item__title--number{
        font-size: 72px;
    }
    .calendar-item__title--month{
        font-size: 28px;
    }
    .calendar-item__title--date::before{
        width: 102px;
        left: 50%;
        transform: translateX(-50%);
    }
    .calendar-item__info {
        max-width: 100%;
    }
    .calendar-item__img{
        max-width: 100%;
        margin-bottom: 12px;
    }
    .footer__social {
        top: 36px;
    }
}
@media (max-width: 425px){
    .header__wrapper .custom-logo {
        width: 140px;
    }
    .hero__images {
        flex-wrap: wrap;
        gap: 20px
    }
    .hero{
        height: 100vh;
    }
}
